.locImg {
  width: 50px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}
.logo {
  text-align: center;
  margin: 200px auto;
}
.logInps {
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logInps .loginInp,
.passInp {
  border: none;
  width: 100%;
  border-bottom: 1px solid;
  outline: none;
  padding: 10px;
}
.logInps button {
  padding: 10px;
  width: 200px;
  background-color: white;
  border: 1px solid orange;
  color: orange;
  font-size: 20px;
  border-radius: 25px;
}
.sap {
  text-align: center;
  color: gray;
  margin-top: 150px;
}
button {
  border: none;
  background-color: white;
}
.btnModalDiv {
  padding: 10px;
  display: flex;
  justify-content: end;
}

.modalDisplay {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
